[mysqld]
innodb_buffer_pool_size=64M
innodb_log_file_size=16M
max_connections=50
query_cache_type=0
query_cache_size=0
table_open_cache=200
tmp_table_size=16M
max_heap_table_size=16M
performance_schema = off